@charset "UTF-8";



.updateUserPassword_pwd{
	margin-top:40px;
	width:200px;
	height:30px;
	
}

.updateUserPasswordBox_title{
	font-size: 24px;
	font-weight: bold;
}

.updateUserPassswordBox{
	width:500px;
	height:450px;
	border: 1px solid black;
	margin-left: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}


.updateUserPassword_title{
	font-size: 24px;
	font-weight: bold;
}

.updateUserPassword_btnBox{
	
	margin-top:70px;
	width:300px;
	display: flex;
	justify-content: space-between;
}



.updateUserPassword_btn{
	width:110px;
	height: 40px;
	border-radius: 4px;
	background-color: rgb(243, 156, 18);
	color: white;
	border-style: none;
	
}
